# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
.env.*

# Generated Outputs
submission.csv
final_ranked_leaderboard.jsonl

# FAISS Artifacts
candidates.index
faiss_metadata.pkl

# Embeddings
candidate_embeddings.jsonl

# Competition Dataset
candidates.jsonl

# Local Models
local_model/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db